<div class="top-action">
  <h2> Manage Subjects </h2>
  <%= link_to 'New Subject', new_admin_subject_path, { class: 'new-button' } %>
</div>

<% @subjects.each do |subject| %>
  
  <%= subject.employees.count.inspect %> <br/>
  <div class="test"> <%=  subject.inspect %> </div> 
  <br/><br/>
<% end %>

<div class="bottom-action"> 
  <%= link_to 'New Subject', new_admin_subject_path, { class: 'new-button' } %>
</div>
