.alert {
  position: relative;
  @include alert('default');
  @include determine-text-color($default);
}

.alert.notice {
  @include alert('notice');
  @include determine-text-color($notice);
}

.alert.warning {
  @include alert('warning');
  @include determine-text-color($warning);  
}

.alert.success {
  @include alert('success');
  @include determine-text-color($success);
}

.alert.error {
  @include alert('error');
  @include determine-text-color($error);
}

.exit-alert {
  position: absolute;
  width:2em; 
  right:0;
  font-size:1.5em;
  top: 50%;
  @include transform(translateY(-50%));
  text-shadow: none;
  &:hover, &:focus {
    cursor:pointer;
  }
}

.alert .content { @include span-columns(12);}
