.show-button {
  @include button_maker($success, 'solid');
}

.edit-button {
  @include button_maker($warning, 'solid');
}

.delete-button {
  @include button_maker($error, 'solid');
}

.submit-button{
  @include button_maker($success, 'solid');
  text-decoration: underline;
  color:#222; 
  &:hover,&:active, &:visited { 
    color:#222;
  }
}

input[type="submit"], input[type="reset"]{
  position:relative; 
  height:44px; 
  top:-1px; 
  @extend .submit-button;
}

.cancel-button {
  @include button_maker(darken($default,20%), 'solid');
  color:#222; 
  &:hover,&:active, &:visited { 
    color:#222;
  }
}

.new-button {
  @include button_maker($action-color, 'solid');
}

