.show-button {
  @include button_maker($success, 'solid');
}

.edit-button {
  @include button_maker($warning, 'solid');
}

.delete-button {
  @include button_maker($error, 'solid');
}

.submit-button, button, input[type="submit"], input[type="reset"] {
  @include button_maker($success, 'solid');
  height:44px; 
  top:-2px; 
  position:relative; 
  text-decoration: underline;
  color:#222; 
  &:hover,&:active, &:visited { 
    color:#222;
  }
}

.cancel-button {
  @include button_maker(darken($default,20%), 'solid');
  color:#222; 
  &:hover,&:active, &:visited { 
    color:#222;
  }
}

.new-button {
  @include button_maker($action-color, 'solid');
}

