<% flash.each do |key, value| %>
  <div class="alert <%= key %>">
    <div class="content"> <%= value %> </div>
    <div class="exit-alert"> 
      <span class="fas fa-times-circle" aria-hidden="true"></span> 
    </div>
  </div>
<% end %>