<nav class="wvu-nav wvu-nav--533">
  <div class="wvu-nav__container">
    <div class="wvu-nav__nav wvu-nav__nav--depth-4">

      <!-- <a href="#" class="nav-toggle" aria-hidden="true">Menu</a> -->

      <ul class="wvu-nav__items nav-collapse nav-collapse nav-collapse-0 closed" aria-hidden="false" role="menubar">
      
        <li role="menuitem">
          <a href="/"> <span class="fa fa-home"></span> </a>
        </li>

        <li role="menuitem">
          <a href="/buildings"> Buildings </a>
        </li>

        <li role="menuitem">
          <a href="/departments"> Departments </a>
        </li>

        <li role="menuitem">
          <a href="/employees"> Employees </a>
        </li>

        <li role="menuitem">
          <a href="/subjects"> Subject Librarians </a>
        </li>

        <li role="menuitem" class="more" aria-haspopup="true">
          <a href="/phonelist/all.pdf" class="more"> Phone Lists </a>
          <ul class="cs-generatedNav-nested-sub-menu cs-generatedNav-nested-sub-menu--level-2" role="menu"
            aria-hidden="true">
            <li role="menuitem">
              <a href="/phonelist/morgantown.pdf" tabindex="-1">
                Morgantown
              </a>
            </li>
             <li role="menuitem">
              <a href="/phonelist/all.pdf" tabindex="-1">
                All 
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>