<h2> Welcome <%= current_user.name %> </h2>

You have made it to the main landing screen for the admin home page.  Please use the menu to the side to manage the appropriate items your wanting to modify.  We are also currently working on documentation, once added we will update this page with a link to the documentation for each section.  Cheers! 