<!-- Place this div in your web page where you want your chat widget to appear. -->
<div id="libchat_d9e5ba2c4a804212461b66b5af13bea0"></div>

<!-- Place this script as near to the end of your BODY as possible. -->
<script type="text/javascript" src="https://v2.libanswers.com/load_chat.php?hash=d9e5ba2c4a804212461b66b5af13bea0"></script>