<footer class="wvu-footer">
  <div class="wvu-container"> 

  <div class="wvu-contact">
    <span class="footerTitle">
      WVU <strong> Libraries </strong>
    </span> <br />
    <p>
      West Virginia University <br />
      1549 University Ave. | P.O. Box 6069 <br />
      Morgantown, WV 26506-6069 <br />
      Phone: <a href="tel:13042934040"> 1-304-293-4040 </a> <br />
      Fax: 1-304-293-6638 <br />
    </p>
  </div> <!-- /.wvu-contact -->

  <div class="lib-social-media">
    <div class="wvu-social-media-icons__container">
      <ul>
        <li>
          <a href="#">
            <img src="https://patterns.wvu.edu/images/1431112908/social-media-icons/facebook.png" alt="Facebook">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://patterns.wvu.edu/images/1431112908/social-media-icons/googleplus.png" alt="Google Plus">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://patterns.wvu.edu/images/1431112908/social-media-icons/instagram.png" alt="Instagram">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://patterns.wvu.edu/images/1431112908/social-media-icons/twitter.png" alt="Twitter">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://patterns.wvu.edu/images/1431112908/social-media-icons/youtube.png" alt="YouTube">
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="wvu-credits" role="contentinfo">
    <ul>
      <li><a href="http://about.wvu.edu/wvu-facts">Accreditations</a></li>
      <li><a href="http://brand.wvu.edu/web-standards">Web Standards</a></li>
      <li><a href="mailto:web_services@mail.wvu.edu">Questions or Comments?</a></li>
    </ul>

    <p>
      © 2018 West Virginia University. WVU is an EEO/Affirmative Action employer — Minority/Female/Disability/Veteran.
      <span class="wvu-credits__last-edited"> Last updated on <%= last_updated %>.</span>
    </p>
  </div> <!-- /.wvu-credits -->

  <div class="wvu-icons">
    <ul class="wvu-links">
      <li class="first"><a href="https://www.wvu.edu/SiteIndex/">A-Z Site Index</a></li>
      <li><a href="https://campusmap.wvu.edu">Campus Map</a></li>
      <li><a href="https://careers.wvu.edu/career-opportunities">WVU Careers</a></li>
      <li><a href="https://directory.wvu.edu">Directory</a></li>
    </ul>

    <ul class="wvu-links">
      <li><a href="https://give.wvu.edu/">Give</a></li>
      <li><a href="https://myaccess.wvu.edu">MyAccess</a></li>
      <li><a href="https://careerservices.wvu.edu/students/mountaineertraklogins">MountaineerTRAK</a></li>
      <li><a href="https://alert.wvu.edu/">WVU Alert</a></li>
      <li><a href="https://wvutoday.wvu.edu">WVU Today</a></li>
      <li><a href="https://portal.wvu.edu">WVU Portal</a></li>
    </ul>
  </div>

     <!-- /.wvu-icons -->
  </div>
</footer>