.display-list { 
  @include span-columns(12); 
  border:1px solid $border-color; 
  padding:1em; 
  margin-bottom:1em;
  position:relative; 

  .image {
    @include span-columns(12); 
    img { width:100%;}
    @include media(720px){ 
      @include span-columns(4);
    }
  } 

  .text-attributes { 
    @include span-columns(12); 
    @include media(720px){ 
      @include span-columns(8);
      @include omega(); 
    }
  } 
}