.display-list { 
  @include span-columns(12); 
  border:1px solid $border-color; 
  padding:1em; 
  margin-bottom:1em;
  position:relative; 

  h3 { 
    margin-top:0; padding:0;
    .micro-text {
      font-size:24px; 
      font-style: italic;
      padding:0; margin:0;
      margin-bottom:1em;
      font-weight: bold;
    }
  }

  .image {
    @include span-columns(12); 
    img { width:100%;}
    @include media(720px){ 
      @include span-columns(4);
    }
  } 

  .text-attributes { 
    @include span-columns(12); 
    @include media(720px){ 
      @include span-columns(8);
      @include omega(); 
    }
  } 

  .phone-item, .email-item { 
    padding-left:1em; 
    .micro {
      font-size:14px;
    }
  }
  .phone, .email { 
    margin-bottom:1em;
  }
}

.building-card, .department-card { 
  h4 {
    @include span-columns(12);
    margin:0;
    padding:0; 
    border-bottom: 2px dotted $border-color; 
    color: rgba($wvu-blue, .8); 
    font-weight: 400;
  }

  .phones, .addresses { margin-bottom: 1em; }
}