.main { @include clearfix }

.employee-card { 
  @include span-columns(12);
  @include clearfix;
  position:relative;
  margin-bottom:2em;
  overflow: hidden;

  border-bottom:2px solid $border-color; 
  &:last-child { 
    border-bottom:unset; 
  }

  .micro { 
    font-size: 12px; 
    font-style: italic;
  }

  .job-title { 
    @include span-columns(12); 
    margin-bottom:.5em;
  }

  .name-title { 
    @include span-columns(12);    
    
    @include media(720px){ 
      @include span-columns(6);
    }
  }

  .profile-banner { 
    @include span-columns(4);
    position:relative; 
    padding:1em; 
    overflow: hidden;

    img { 
      width:100%;
    }
  }
  
  .profile-text { 
    @include span-columns(8);
    @include omega(); 
    position:relative; 
    padding:1em; 

    h4 {
      @include span-columns(12);
      margin:0;
      padding:0; 
      border-bottom: 2px dotted $border-color; 
      color: rgba($wvu-blue, .8); 
      font-weight: 400;
    }

    .name-title { 
      @include span-columns(12);
      margin:0;
      padding:0; 
      color: rgba($wvu-blue, .8); 
      font-weight: 400;
      line-height: 1;

      a { 
        @include span-columns(12);
        font-size:1.4em;
        text-decoration: none; 
        color: rgba($wvu-blue, .8);
        &:hover,&:active,&:visited { 
          color: $link-color; 
        }
      }
    }

    > div { 
      padding:.5em 0;
    }

    .phones, .email { 
      @include span-columns(12);
      border-top: unset;
    }

    .phone-item, .email { 
      padding-left:1em;
      .fa, .fas { width:1em; }
    }

    .profile-link { 
      @include span-columns(12);
      padding:1em 0; 
    }
  }
}

.fa .fa-phone{ 
  transform: scaleX(-.7);
}

